{% extends 'base.html' %}
{% load static %}
{% block body %}

        <div class="pcoded-content">
          <div class="page-header card">
            <div class="row align-items-end">
              <div class="col-lg-8">
                <div class="page-header-title">
                  <div class="d-inline">
                       <h5></h5>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                   
              </div>
            </div>
          </div>
          <div class="page-header card">
               <div class="card edit-prof-section">
                    <div class="card-block">
                    {% if is_contractor %}
                        <form class="md-float-material form-material" data-url="{% url 'contractor/change/password/' %}"
                              id="reset_password" method="post">
                    {% endif %}
                    {% if is_merchant %}
                      <form class="md-float-material form-material" data-url="{% url 'changePassword/'  %}" id="reset_password" method="post">
                    {% endif %}
                    {% if is_admin %}
                      <form class="md-float-material form-material" data-url="{% url 'change_password/'  %}" id="reset_password" method="post">
                    {% endif %}
                          <div class="row">
                               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                       <label>Old Password</label>&nbsp;<span style="color:red;">*</span>
                                       <input type="password" name="old_password" class="form-control old_password" id="old_password" required="" style="border-bottom:1px solid #ccc;">
                                      <input type="hidden" name="database_password" class="form-control database_password" id="database_password" value="{{a_values.password}}">
                                    </div>
                               </div>
                               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                       <label>New Password</label>&nbsp;<span style="color:red;">*</span>
                                        <input type="password" name="new_password" class="form-control new_password" id="new_password" required="" style="border-bottom:1px solid #ccc;" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}">
                                       
                                    </div>
                               </div>
                          </div>
                          <div class="row">
                               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                       <label>Confirm New Password</label>&nbsp;<span style="color:red;">*</span>
                                        <input style="border-bottom:1px solid #ccc;" type="password" name="confirm_password" class="form-control confirm_password" id="confirm_password" required="">
                                    </div>
                               </div>
                          </div>
                          <div class="clearfix">
                          <input type="button" class=" reset_password_btn btn btn-primary btn-md btn-block waves-effect text-center m-b-20" value="Save">
                          </div>
                      </form>
                    </div>
               </div>
               
               
          </div>
        </div>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% if is_contractor %}
<script type="text/javascript">
    var clickHandler = function(e){
    var url_link = $('#reset_password').attr('data-url');
    var database_password = $('#database_password').val();
    var old_password = $('#old_password').val();
    var new_password = $('#new_password').val();
    var confirm_password = $('#confirm_password').val();
    var regx = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}/
    var match = false

    console.log(url_link + ' db '+ database_password + ' old ' + old_password + ' new ' + new_password + ' con ' + confirm_password);
    var flag = 0;

    if(old_password == '' || new_password == '' || confirm_password == ''){
      flag = 1;
      swal("error!", "Please Enter Password", "error");
    }

    // else if(old_password != database_password){
    //   flag = 1;
    //   swal("error!", "your old password is not valid", "error");
    // }

    else if(old_password == new_password){
      flag = 1;
      swal("error!", "Old Password and new Password cannot be similar.", "error");
    }

    else if(!new_password.match(regx)){
      flag = 1;
      swal("error!",'Password must contain at least 6 characters, including at least one Uppercase, Lowercase, special characters and numbers.', "error")
    }
    else if(new_password != confirm_password){
      flag = 1;
      swal("error!", "Your New Password and Confirm Password Doesn't Match", "error");
    }
    if(flag == 0){
      console.log('iffff')
      $.ajax({
        url: url_link,
        type:"POST",
        dataType:'text',
        data:{
          // 'database_password':database_password,
          'old_password':old_password,
          'confirm_password':confirm_password,
          'new_password':new_password
        },
        success: function(data){
                console.log('success');
                swal("Success!", "Your password has been changed Successfully!", "success")
                function redirect(){
                    window.location.href = "/contractor/dashboard";
                }
                setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
        },
        error: function(){
            swal("Error!", "Your old password is not valid.", "error")
        }
      });
      e.stopImmediatePropagation();
    } else {
      return false;
    }
  }
$('.reset_password_btn').on('click', clickHandler);
</script>
{% endif %}

{% if is_merchant %}
<script type="text/javascript">
    var clickHandler = function(e){
    var url_link = $('#reset_password').attr('data-url');
    var database_password = $('#database_password').val();
    var old_password = $('#old_password').val();
    var new_password = $('#new_password').val();
    var confirm_password = $('#confirm_password').val();
    var regx = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}/
    var match = false

    console.log(url_link + ' db '+ database_password + ' old ' + old_password + ' new ' + new_password + ' con ' + confirm_password);
    var flag = 0;

    if(old_password == '' || new_password == '' || confirm_password == ''){
      flag = 1;
      swal("error!", "Please Enter Password", "error");
    }

    // else if(old_password != database_password){
    //   flag = 1;
    //   swal("error!", "your old password is not valid", "error");
    // }

    else if(old_password == new_password){
      flag = 1;
      swal("error!", "old Password and new Password cannot be similar", "error");
    }

    else if(!new_password.match(regx)){
      flag = 1;
      swal("error!",'Password must contain at least 6 characters, including UPPER/lowercase, special characters and numbers', "error")
    }
    else if(new_password != confirm_password){
      flag = 1;
      swal("error!", "Your New Password and Confirm Password Doesn't Match", "error");
    }
    if(flag == 0){
      console.log('iffff')
      $.ajax({
        url: url_link,
        type:"POST",
        dataType:'text',
        data:{
          // 'database_password':database_password,
          'old_password':old_password,
          'confirm_password':confirm_password,
          'new_password':new_password
        },
        success: function(data){
                console.log('success');
                swal("Good job!", "Your password has been Set Successfully!!!", "success")
                function redirect(){
                    window.location.href = "/merchant/dashboard_merchant";
                }
                setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
        },
        error: function(){
            swal("error!", "your old password is not valid", "error")
        }
      });
      e.stopImmediatePropagation();
    } else {
      return false;
    }
  }
$('.reset_password_btn').on('click', clickHandler);
</script>
{% endif %}

{% if is_admin %}
<script type="text/javascript">
    var clickHandler = function(e){
    var url_link = $('#reset_password').attr('data-url');
    var database_password = $('#database_password').val();
    var old_password = $('#old_password').val();
    var new_password = $('#new_password').val();
    var confirm_password = $('#confirm_password').val();
    var regx = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}/
    var match = false

    console.log(url_link + ' db '+ database_password + ' old ' + old_password + ' new ' + new_password + ' con ' + confirm_password);
    var flag = 0;

    if(old_password == '' || new_password == '' || confirm_password == ''){
      flag = 1;
      swal("error!", "Please Enter Password", "error");
    }

    else if(old_password != database_password){
      flag = 1;
      swal("error!", "your old password is not valid", "error");
    }

    else if(old_password == new_password){
      flag = 1;
      swal("error!", "old Password and new Password cannot be similar", "error");
    }

    else if(!new_password.match(regx)){
      flag = 1;
      swal("error!",'Password must contain at least 6 characters, including UPPER/lowercase, special characters and numbers', "error")
    }
    else if(new_password != confirm_password){
      flag = 1;
      swal("error!", "Your New Password and Confirm Password Doesn't Match", "error");
    }
    if(flag == 0){
      console.log('iffff')
      $.ajax({
        url: url_link,
        type:"POST",
        dataType:'text',
        data:{
          'database_password':database_password,
          'old_password':old_password,
          'confirm_password':confirm_password,
          'new_password':new_password
        },
        success: function(data){
                console.log('success');
                swal("Good job!", "Your password has been Set Successfully!!!", "success")

                function redirect(){
                    window.location.href = "dashboard";
                }
                setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
        },
        error: function(){
            swal("error!", "your old password is not valid", "error")
        }
      });
      e.stopImmediatePropagation();
    } else {
      return false;
    }
  }
$('.reset_password_btn').on('click', clickHandler);
</script>
{% endif %}


{% endblock %}

