{% extends 'base.html' %}
{% load static %}
{% static "" as baseUrl %}
{% block body %}
        <div class="pcoded-content">
          <div class="page-header card">
            <div class="row align-items-end">
              <div class="col-lg-8">
                <div class="page-header-title">
                  <div class="d-inline">
                    <h5>Contact Us</h5>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">

              </div>
            </div>
          </div>
          <div class="page-header card">
              <div class="card">
                <div class="card-block">
                  <div class="dt-responsive table-responsive">
                    <table id="multi-colum-dt-contact_us" class="table table-striped table-bordered nowrap">
                      <thead>
                        <tr>
                          <th>Requested at</th>
                          <th>Email Address</th>
                          <th>Message</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for x in contact_data %}
                            <tr>
                              <td>{{ x.created_at }}</td>
                              <td id="email_{{ forloop.counter }}">{{ x.user_id.email }}</td>
                                <td id="msg_{{ forloop.counter }}">{{ x.message | safe }}</td>
                                {% if x.dispute_status == "Pending" %}
                                    <td><button class="btn btn-primary"><a style="color: #fff;" class="resolve-class" onclick="qr($(this).parent())" href="javascript:void(0)" data-url="{% url 'contact_us/resolved/' id=x.id   %}">Mark as resolve</a></button></td>
                                {% else %}
                                <td>Resolved</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
          </div>
        </div>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
{% if add %}<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>{% else %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js"></script>{% endif %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<script>
    function qr (ele) {
        const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
            confirmButton: 'btn btn-success',
            cancelButton: 'btn btn-danger',
        },
        buttonsStyling: false
        })

    swalWithBootstrapButtons.fire({
        title: 'Are you sure to want to resolve this?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, Resolve it!',
        cancelButtonText: 'No, cancel!',
        reverseButtons: true
    }).then((result) => { console.log('result--',result.value, result)
      if (result.value) {
        console.log('ele----',ele, ele.parent())
        var url = ele.children().attr('data-url')
        console.log(url);
        var htmlText = `<span>Resolved</span>`
        var splitUrl = url.split('/')
        // var email = $('.resolve-class').parent().prev().prev().text();

        $.ajax({
             url: url,
            type: "POST",
            dataType: 'json',
            data: {
                'id': splitUrl[3],
                'deleted':true,

                // 'email': email
            },
            success: function (data) {
                 swalWithBootstrapButtons.fire(
                  'Resolved!',
                  'Support request has successfully resolved.',
                  'success',
                )
                if($('.swal2-confirm').html() == 'OK') {
                    $('.swal2-confirm').css('display', 'none');
                }
                 function redirect(){
                    window.location.href = "{% url 'contact_us'  %}";
                }
                setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
                {#ele.remove()#}
                {#ele.html(htmlText)#}
                ele.replaceWith(htmlText);
                console.log('success');
            }

        });
      }

    })




        $.ajax({

        })
    }
</script>
{% endblock %}
